<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Take notes & Share them!</h1>

    <form action="/create" method="POST">
        <textarea name="message" id="" cols="30" rows="10"></textarea>
        <button type="submit">Create</button>
    </form>

    <p>Latest Note:</p>
    <a href="/<%= lastGeneratedUrl[0].shorten %>"><%= lastGeneratedUrl[0].shorten %></a>
</body>
</html>